
.home-container {
  flex: auto;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  background-color: var(--notland-bg);
}
.home-image {
  width: 50%;
  height: auto;
  align-self: center;
  object-fit: cover;
  padding-top: 3%;
  padding-left: 5%;
  color: var(--notland-accent-text);
  fill: currentColor;
}

.social-box{
  max-width: 70rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
@media(min-width: 2000px) {
  .card > svg{
    top: -19rem;
  }
}
@media(max-width: 1200px) {
  .home-banner {
    padding: var(--dl-space-space-fourunits);
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text {
    font-weight: 600;
  }
  .home-text3 {
    font-weight: 600;
  }
}

@media(max-width: 479px) {
  .social-box{
    flex-wrap: wrap;
    line-height: 5rem;
  }
}
