    :root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;

  --notlandBlue: rgb(255, 255, 255);
  --notlandOrange: #e54b3f;
  --notlandWhite: #e54b3f;
  --notlandRed: #d96f66ff;

  --notland-bg: white;
  --notland-accent-text: white;
  --notland-accent: #e24338;
  --notland-secondary-accent: #344599;
  --notland-text: rgb(66, 66, 68);

}

@font-face {
  font-family: 'nunitoregular';
  src: url('/fonts/nunito-regular-webfont.woff2') format('woff2'),
       url('/fonts/nunito-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitobold';
  src: url('fonts/nunito-bold-webfont.woff2') format('woff2'),
       url('fonts/nunito-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitomedium';
  src: url('fonts/nunito-medium-webfont.woff2') format('woff2'),
       url('fonts/nunito-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'denk_oneregular';
  src: url('fonts/denkone-regular-webfont.woff2') format('woff2'),
       url('fonts/denkone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitoextralight';
  src: url('fonts/nunito-extralight-webfont.woff2') format('woff2'),
       url('fonts/nunito-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1,h2{font-family: 'denk_oneregular'; font-size: clamp(3rem, 5vw, 7rem); line-height: 1.15; text-transform: none; text-decoration: none; margin-top: var(--dl-space-space-threeunits);}
h3,h4,h6{font-family: 'denk_oneregular'; font-size: clamp(1.5rem, 4vw, 3rem);}
body{font-family: 'nunitomedium'; font-size: clamp(1.125rem, 1vw, 2rem)}

.home-header {
  height: 101vh;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--notland-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}

.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-text {
  color: var(--notland-text);
  max-width: 70rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
}

.skew-right{
  transform: skewY(-2deg);
}
.skew-left{
  transform: skewY(2deg);
}
.text-accent {
  color: var(--notland-accent-text);
}
.home-text-container{
	align-items:center;
  justify-content: center;
	display:flex;
	flex-direction:column;
  padding: var(--dl-space-space-twounits);
}
.home-text-container-accent{
  background-color: var(--notland-accent);
  width: 100%;
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: stretch;
  justify-content: center;
}
.LegalCont {
	padding:10px;
	text-align:center;
	font-size:0.8rem;
	margin-top:20px;
	color: var(--notlandBlue);
  height:100%;
}
.icon-small {
  width: 2rem;
  margin-right: var(--dl-space-space-twounits);
}

.icon-medium {
  width: 4rem;
  margin-right: var(--dl-space-space-twounits);
}

.on-accent-svg{
  color: var(--notland-accent-text);
	fill:currentColor;
}

.highlight-svg > a{
  color: var(--notland-secondary-accent);
	fill:currentColor;
}

.highlight-svg{
  color: var(--notland-secondary-accent);
	fill:currentColor;
}
.highlight-svg:hover { 
  rotate: 10deg;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-areas: 
  'socials socials'
  'logo legal';
  padding: 10px;
  gap: 10px;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
.footer-item1 {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: socials;
}
.footer-item2 {
 grid-area: logo;
}
.footer-item3 {
  display: flex;
  align-items: center;
  grid-area: legal;
}
.footerIcon{
  display:inline-block;
	width:213px;
}
#DFooter {
	justify-content:center;
	padding-left:20px;
	padding-right:20px;
	background-color: var(--notland-accent);
}

@media(min-width: 2000px) {
  .home-text{
    max-width: 100rem;
  }
}

@media(max-width: 991px) {
  .home-text {
    text-align: center;
  }
}

@media(max-width: 767px) {
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}

@media(max-width: 479px) {
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }

  .grid-container {
    display: grid;
    grid-template-areas: 
    'socials socials'
    'logo logo'
    'legal legal';
    padding: 1rem;
    gap: 1rem;
  }
  .footer-item1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
    grid-area: socials;
  }
  .footer-item2 {
   grid-area: logo;
  }
  .footer-item3 {
    grid-area: legal;
  }

}
